* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-half {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

table {
    width: 100%;
    border: 0.5px solid #bbbbbb;
    border-collapse: collapse;
    margin: 0px 15px;
}

ul,
li {
    cursor: pointer;
}

th {
    border-bottom: 2px solid #a8a8a8;
}

td {
    border-bottom: 1px solid #a8a8a8;
}

td,
th {
    white-space: nowrap;
    font-size: 1.6rem;
    height: 60px;
    padding: 16px 30px 16px 12px;
    vertical-align: auto;
    width: 40px;
    text-align: center;
    vertical-align: middle;
}

th:first-child,
td:first-child {
    padding: 16px 30px 16px 24px;
    width: 20px;
}

td:last-child {
    margin-left: auto;
    margin-right: auto;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #6f6f6f;
}

.menu-arrow {
    color: #18aefa;
    position: absolute;
    right: 4px;
    top: 20px;
    font-weight: 900;
}

.mt-24 {
    margin-top: 24px;
}

.ri-checkbox-circle-line {
    font-size: 2rem;
    color: green;
}

.ri-close-circle-line {
    font-size: 2rem;
    color: red;
}

::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(156, 156, 156);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(114, 114, 114);
}

/* Main */

#main.mini-sidebar .header-left span,
#main.mini-sidebar div > i:last-child,
#main.mini-sidebar div > span,
#main.mini-sidebar .menu-title span,
#main.mini-sidebar li > ul,
#main.mini-sidebar #sidebar a {
    display: none;
}

#main.mini-sidebar #header .header-left {
    min-width: 80px;
}

#main.mini-sidebar #sidebar {
    width: 80px;
}

#main.mini-sidebar #container {
    margin-left: 80px;
}

/* Header */

#header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    border-bottom: 1px solid #efefef;
    background: #fff;
    z-index: 1000;
}

#header .header-left {
    display: flex;
    align-items: center;
    min-width: 320px;
    height: 60px;
    padding: 0 20px;
    border-right: 1px solid #ececf5;
    background-color: #f7f7fa;
    border-bottom: 1px solid #efefef;
    transition: all 0.3s ease-in-out 0s;
}

.header-left .logo {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(88, 88, 88);
}

.header-left .icon {
    font-size: 3.2rem;
    color: #18aefa;
    line-height: 60px;
    display: inline-block;
}

.header-left span {
    display: inline-block;
    font-size: 3.2rem;
}

#header .header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.header-right .level-left {
    display: flex;
    align-items: center;
}

.header-right .btn-menu {
    width: 52px;
    height: 60px;
    font-size: 3.2rem;
    margin-left: 16px;
    padding: 0 16px;
}

.header-right .btn-menu .icon {
    font-weight: 999;
    color: #18aefa;
}

.header-right .header-search {
    display: flex;
    height: 60px;
    width: 300px;
    margin-left: 16px;
    border: 1px solid #acacac;
    border-radius: 999px;
    height: 40px;
    overflow: hidden;
}

.header-right .header-search .input-search {
    padding: 8px 12px;
    outline: none;
    border: none;
    flex-grow: 1;
}

.header-right .header-search .btn-search {
    width: 48px;
    height: 40px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffbc53;
}

.header-right .level-right {
    font-size: 2rem;
}

.header-right .level-right .nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 16px;
}

.header-right .level-right .nav-user {
    position: relative;
}

.header-right .level-right .nav-items {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right .level-right .subnav-items:hover,
.header-right .level-right .nav-items:first-child:hover,
.header-right .level-right .subnav-items:hover a {
    color: #18aefa;
}

.subnav-user {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 160px;
    height: 120px;
    z-index: 1000;
}

.subnav-user span,
.subnav-user.active {
    display: block;
    display: block !important;
}

.subnav-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ececf5;
    height: 60px;
    width: 160px;
    padding: 12px 12px;
    background: #fff;
    cursor: context-menu;
}

.user-text {
    font-size: 1.6rem;
    margin-left: 8px;
    width: 120px;
}

.user-text > span:last-child {
    color: #6f6f6f;
    font-size: 1.4rem;
}

.header-right .level-right .subnav-items {
    height: 42px;
    width: 160px;
    padding: 12px 12px;
    font-size: 1.6rem;
    border: 1px solid #ececf5;
    border-radius: 0;
    background: #fff;
}

.header-right .level-right .subnav-items a {
    color: #000;
}

/* Sibebar */

#sidebar {
    width: 320px;
    border-right: 1px solid #ececf5;
    background-color: #f7f7fa;
    color: #6f6f6f;
    padding: 16px 0;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out 0s;
}

#sidebar .sibebar-scroll {
    height: 100%;
    position: relative;
    overflow: hidden scroll;
}

#sidebar .sibebar-scroll::-webkit-scrollbar {
    display: none;
}

#sidebar .sibebar-scroll {
    -ms-overflow-style: none;
}

#sidebar .menu-title {
    font-size: 1.4rem;
    padding: 4px 32px;
    margin-top: 4px;
    margin-bottom: 8px;
}

#sidebar i:first-child {
    font-size: 2rem;
}

#sidebar li div:hover,
#sidebar icon:hover,
#sidebar .sub-menu li:hover a,
#sidebar .main-menu div:hover a {
    color: #18aefa;
}

.main-menu {
    margin-bottom: 4px;
}

.main-menu > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    position: relative;
    height: 48px;
    padding: 12px 32px;
    font-weight: 500;
}

.main-menu > div .menu-arrow {
    right: 12px;
    top: 12px;
}

.main-menu > div > i:first-child {
    width: 32px;
}

.sub-menu {
    display: none;
}

.sub-menu.active {
    display: block;
}

.main-menu .sub-menu li {
    height: 36px;
}

.main-menu .sub-menu li > a {
    display: block;
    padding: 8px 12px 8px 72px;
    font-size: 1.5rem;
}

/* Container */

#container {
    margin-top: 60px;
    margin-left: 320px;
    padding: 32px 32px 0;
    transition: all 0.3s ease-in-out 0s;
}

#container .page-header {
    margin-bottom: 32px;
}

#container .page-title {
    font-size: 2.8rem;
    margin-bottom: 8px;
}

#container .breadcrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 16px;
    margin-bottom: 16px;
}

#container .breadcrumb .breadcrumb-items:last-child {
    opacity: 0.6;
}

#container .page-body {
    padding: 24px;
    margin-bottom: 32px;
    border-radius: 8px;
    border: 2px solid #ececf5;
    overflow-x: auto;
    position: relative;
}

.page-body .list-type {
    height: 20px;
    width: 120px;
    position: absolute;
    right: 24px;
    top: 36px;
}

.form-title {
    width: 100%;
    color: #333;
    font-size: 2rem;
    font-weight: 500;
    margin: 12px 15px 28px;
}

#container .btn {
    width: 84px;
    height: 40px;
    font-size: 1.6rem;
    padding: 6px 12px;
    color: #fff;
    background-color: #ffbc53;
    margin-right: auto;
    margin-left: auto;
}

#form-edit .btn {
    width: 84px;
    height: 40px;
    font-size: 1.6rem;
    padding: 6px 12px;
    color: #fff;
    background-color: #ffbc53;
    margin-top: 8px;
    margin-right: 16px;
}

.form-group {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.form-label {
    display: inline-block;
    margin-top: 4px;
    opacity: 0.7;
}

.form-input {
    height: 40px;
    width: 100%;
    margin-top: 8px;
    padding: 6px 12px;
}

.form-input option {
    height: 20px;
}

#container td .btn {
    height: 32px;
    width: 32px;
    text-align: center;
    position: relative;
}

#container .btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container .btn-reset,
#container .btn-mark,
#container .btn-check,
#container .btn-edit {
    background-color: #18aefa;
    color: #fff;
}

#container .btn-delete {
    background-color: #ffbc53;
    color: #fff;
}

/* Edit Form */

#form-edit {
    position: fixed;
    top: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 12px;
    height: 100%;
}

#form-edit.active {
    display: flex;
}

.edit-container {
    width: 600px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    background: #fff;
    position: relative;
    animation: modalFadeIn ease 0.5s;
    padding: 16px;
    border-radius: 12px;
    overflow: hidden;
}

.modal-container {
    max-width: calc(100% - 32px);
    min-height: 200px;
    background: #fff;
    position: relative;
    animation: modalFadeIn ease 0.5s;
    padding: 16px;
    border-radius: 12px;
    overflow: hidden;
}

.modal-container table {
    margin-top: 16px;
    margin-bottom: 20px;
}

#form-edit .form-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #ffbc53;
    margin: 0;
    padding: 12px;
    text-align: center;
}

#form-edit .form-body {
    width: 100%;
    margin: 40px 0 0;
}

#form-edit select,
#form-edit input[type="date"],
#form-edit input[type="text"] {
    border: 1.2px solid #333;
}

.form-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    font-size: 2rem;
    z-index: 99;
}

.form-close:hover {
    opacity: 0.7;
}

/* Profile */

.profile-header {
    height: 170px;
    padding: 24px;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border: 1px solid #efefef;
    margin-bottom: 20px;
    border-radius: 8px;
}

.profile-info {
    display: flex;
}

.profile-user-img {
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 999px;
    overflow: hidden;
    margin-right: 16px;
}

.user-img-student {
    height: 120px;
    width: 120px;
    background-image: url("https://icon-library.com/images/student-icon/student-icon-10.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.user-img {
    height: 120px;
    width: 120px;
    background-image: url("https://img.favpng.com/12/15/21/computer-icons-avatar-user-profile-recommender-system-png-favpng-HaMDUPFH1etkLCdiFjgTKHzAs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.profile-user-info span {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.profile-user-info .fullname {
    font-size: 2.4rem;
}

.profile-body {
    height: 200px;
    border: 1px solid #efefef;
    margin-bottom: 20px;
    font-size: 1.6rem;
    border-radius: 8px;
}

.profile-body .profile-info {
    display: flex;
    margin: 12px 20px;
}

.profile-body .profile-info .profile-info-key {
    width: 160px;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.selection {
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 24px;
}

.selection select {
    width: 45%;
    padding: 0 20px;
}

#container .selection .btn-change {
    position: relative;
    background: none !important;
    color: #333;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 8px;
    width: 40px;
    font-size: 12px;
}
#container .selection .btn-change i {
    position: none;
    width: 32px;
    height: 32px;
    font-size: 32px;
    color: rgb(39, 39, 39);
    z-index: 99;
    margin-top: 8px;
}

#container .translate-container {
    display: flex;
    justify-content: space-between;
}
#container .translate-container textarea {
    width: 45%;
    padding: 12px;
    font-size: 16px;
}
#container .translate-container textarea:last-child {
    outline: none;
}
